{{/* Tags feature */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $work := false -}}{{/* true if this machine is used for business service */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hostname := output "scutil" "--get" "ComputerName" | trim -}}
{{- end -}}

{{- if eq .chezmoi.os "windows" -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-   if eq $hostname "archbtw" -}}
{{-     $personal = true -}}
{{-   else if eq $hostname "exile" -}}
{{-     $personal = true -}}
{{-   else if eq $hostname "raspberrypi4" -}}
{{-     $headless = true -}}
{{-     $personal = true -}}
{{-   else if stdinIsATTY -}}
{{-     $headless = promptBoolOnce . "headless" "headless" -}}
{{-     $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

{{- $email := "anypot@posteo.net" -}}
{{- if $work -}}
{{-   $email := promptStringOnce . "email" "Business email address" -}}
{{- end -}}

{{- $colorSchemes := list "catppuccin" "dracula" "gruvbox" "kanagawa" "onedark" "rose-pine" "solarized" "tokyonight" -}}
{{- $defaultTermColorScheme := "rose-pine" -}}
{{- $defaultNvimColorScheme := "tokyonight" -}}
{{- $defaultSysColorScheme := "rose-pine" -}}

{{- $colorSchemesMap := dict
  "catppuccin" (dict
    "termColorScheme" "catppuccin_mocha"
    "nvimColorScheme" "catppuccin"
    "sysColorScheme" $defaultSysColorScheme
  )
  "dracula" (dict
    "termColorScheme" "dracula"
    "nvimColorScheme" "dracula"
    "sysColorScheme" "dracula"
  )
  "gruvbox" (dict
    "termColorScheme" "gruvbox_dark"
    "nvimColorScheme" "gruvbox"
    "sysColorScheme" $defaultSysColorScheme
  )
  "kanagawa" (dict
    "termColorScheme" "kanagawa_dragon"
    "nvimColorScheme" "kanagawa"
    "sysColorScheme" $defaultSysColorScheme
  )
  "onedark" (dict
    "termColorScheme" "one_dark"
    "nvimColorScheme" "onedark"
    "sysColorScheme" $defaultSysColorScheme
  )
  "rose-pine" (dict
    "termColorScheme" "rose_pine"
    "nvimColorScheme" "rose-pine"
    "sysColorScheme" "rose-pine"
  )
  "solarized" (dict
    "termColorScheme" "solarized_osaka"
    "nvimColorScheme" "solarized-osaka"
    "sysColorScheme" $defaultSysColorScheme
  )
  "tokyonight" (dict
    "termColorScheme" "tokyo_night_enhanced"
    "nvimColorScheme" "tokyonight"
    "sysColorScheme" "tokyonight"
  )
-}}

{{- $termColorScheme := promptChoice "Terminal color scheme" $colorSchemes $defaultTermColorScheme -}}
{{- $nvimColorScheme := promptChoice "Neovim color scheme" $colorSchemes $defaultNvimColorScheme -}}
{{- $sysColorScheme := promptChoice "System color scheme" $colorSchemes $defaultSysColorScheme -}}

[data]
  term_colorscheme = {{ (index $colorSchemesMap $termColorScheme).termColorScheme | quote }}
  nvim_colorscheme = {{ (index $colorSchemesMap $nvimColorScheme).nvimColorScheme | quote }}
  sys_colorscheme  = {{ (index $colorSchemesMap $sysColorScheme).sysColorScheme | quote }}
  email            = {{ $email | quote }}
  ephemeral        = {{ $ephemeral }}
  headless         = {{ $headless }}
  hostname         = {{ $hostname | quote }}
  github_user      = "anypot"
  osid             = {{ $osID | quote }}
  personal         = {{ $personal }}
  work             = {{ $work }}
  xdgCacheHome     = "{{ .chezmoi.homeDir }}/.cache"
  xdgConfigHome    = "{{ .chezmoi.homeDir }}/.config"
  xdgDataHome      = "{{ .chezmoi.homeDir }}/.local/share"
  xdgStateHome     = "{{ .chezmoi.homeDir }}/.local/state"

[diff]
  pager = "delta"
  exclude = ["scripts"]

[merge]
  command = "nvim"
  args = [
      "-d",
      {{ printf "%q" "{{ .Destination }}" }},
      {{ printf "%q" "{{ .Source }}" }},
      {{ printf "%q" "{{ .Target }}" }},
      "-c",
      "'$wincmd w'",
      "'wincmd J'",
  ]
