{{ template "utils.sh" . }}

header "Installing Ansible with uv"

UV_PATH="$(_uvBinaryPath_)" || {
    error "uv is not installed"
    _safeExit_ 1
}

if [[ -n ${UV_PATH} ]]; then
    ${UV_PATH} tool install ansible-core
fi

{{ if eq .chezmoi.osRelease.id "arch" -}}
ansible-galaxy collection install --upgrade community.general kewlfft.aur
success "Ansible packages and collections installed"
{{ end }}

_safeExit_
