return {
  { "Mofiqul/dracula.nvim" },
  { "ellisonleao/gruvbox.nvim" },
  {
    "rebelot/kanagawa.nvim",
    opts = {
      theme = "wave",
      background = {
        dark = "dragon",
        light = "lotus",
      },
    },
  },
  { "navarasu/onedark.nvim", opts = {
    style = "darker",
  } },
  {
    "rose-pine/neovim",
    name = "rose-pine",
  },
  { "maxmx03/solarized.nvim" },
  {
    "LazyVim/LazyVim",
    opts = {
      colorscheme = "{{ .color_scheme }}",
    },
  },
}
